.mapa_popup .leaflet-popup {
  padding: 0;
}

.mapa_popup {
  bottom: 28px !important;
}

.mapa_popup .leaflet-popup-content-wrapper {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.mapa_popup .leaflet-popup-content-wrapper p {
  margin: 0;
}

.mapa_popup .leaflet-popup-content {
  margin: 0;
  width: fit-content !important;
}
